/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*Generals*/
img{
    max-width: 100%;
    display: block;
}

/*Utilities*/
.line-star{
    width:150px;
    height: 10px;
    border-radius: 20px;
}

.white-l{
    background-color: white;
}

.blu-l{
    background-color: #2C3E50;
}

header{
    height: 120px;
    background-color:#2C3E50;
}


.jumbotron{
    background-color:#1ABC9C;
}


.portfolio{
    
}

.about{
    background-color: aquamarine; 
}

.upper-footer{
    background-color:#3A546D ;
}

.bottom-footer{
    background-color:#2C3E50 ;
    min-height: 120px;
}

.col{
    border: 2px dashed red;
    
    min-height: 100px;
}



/* Grandezze varie per pannelli*/



p{
    min-height: 250px;
    border: 2px dashed red;
    min-width: 50%;
    
}

.buttom{
    min-height: 60px;
    border: 2px dashed red;
    width: 150px;

}

.contact-info{
    min-height: 80px;
    border: 2px dashed green;
    margin-top:20px;
}

.copyright{
    min-height: 30px;
    border: 2px dashed green;
}



/*Jumbotron*/

.img-box{
    max-width: 200px;
    max-height: 200px;
}


/*Portfolio*/

.portfolio h2{
    color:#2C3E50;
}