/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*Generals*/
img{
    max-width: 100%;
    display: block;
}

/*Utilities*/

.line-star{
    width:150px;
    height: 10px;
    border-radius: 20px;
}

.white-l{
    background-color: white;
}

.blu-l{
    background-color: #2C3E50;
}


/*Header*/


.bg-dark-blue{
    background-color: #2C3E50;
}



/*Jumbotron*/

.jumbotron{
    background-color:#1ABC9C;
}


.img-box{
    max-width: 200px;
    max-height: 200px;
}


/*Portfolio*/

.portfolio h2{
    color:#2C3E50;
}

.img-portfolio-box img{
    border-radius: 20px;
}

/*About*/

.about{
    background-color:#1ABC9C; 
}


/*Contact me*/
.contact{
    color:#2C3E50;
}
.contact .form-control{
    padding-left: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.contact .form-control::placeholder{
    color:#2C3E50;
}
/*Footer*/

footer{
    background-color:#3A546D;
}

.upper-footer{
    background-color:#3A546D ;
}

.bottom-footer{
    background-color:#2C3E50 ;
    min-height: 120px;
}

.icons-box > *{
    border:1px solid white;
    border-radius: 50%;
    padding: 15px;
}